:root {
    font-family: "VT323", monospace;
    --game-background: #101010;
    --background-color: #161516;
    --text-color: #9b8b70;
    --text-white: #e7e7e7;
    --primary-text-light: #d9ceae;
    --primary-text-darker: #9b8b70;
    --primary-grey: #444444;
    --red-wire: #d72638;
    --blue-wire: #3a86ff;
    --green-wire: #2ecc71;
    --yellow-wire: #ffd60a;
    --purple-wire: #9b5de5;
    --black-wire: #1a1a1a;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: var(--game-background);
}

canvas {
    display: block;
    margin: 0 auto;
}
